@{
    ViewData["Title"] = "Admin";
}
<h2>Welcome!</h2>
<h2>Admin actions:</h2>
<h3>RSS</h3>
<p><a href='rss'>Edit RSS feeds</a></p>
<h3>Hosts</h3>
<p><a href='hosts/edit'>Edit hosts</a></p>
<p><a href="hosts/add">Add host</a></p>
<p><a href="hosts/delete">Delete host</a></p>
<p>Edit links</p>
<h3>Admin</h3>
<p>Add admin</p>
<p>Delete admin</p>
<p>Change your password</p>