@{
    ViewData["Title"] = "Admin";
}
<h2>Admin actions:</h2>
<h3>Podcast</h3>
<p><a href='rss'>Edit RSS feeds</a></p>
<p><a href="description">Edit description</a></p>
<h3>Hosts</h3>
<p><a href='hosts/edit'>Edit hosts</a></p>
<p><a href="hosts/add">Add host</a></p>
<p><a href="hosts/delete">Delete host</a></p>
<h3>Admin</h3>
@if(ViewBag.Head == true)
{
    <p><a href="add">Add admin</a></p>
    if(ViewBag.toDelete == true)
    {
        <p><a href="delete">Delete admin</a></p>
    }
    <p><a href="list">View all admins</a></p>
}
<p><a href="changepassword">Change your password</a></p>
<h3><a href="/logout">Log out</a></h3>