@model PodcastSiteBuilder.Models.NewPassword
@{
    ViewData["Title"] = "Change Password";
}
<h2>Change password</h2>
<form asp-action="SubmitPWChange" asp-controller="Admin" method="POST">
    Old password: <input asp-for="oldpw"> <span asp-validation-for="oldpw"></span><br><br>
    New password: <input asp-for="newpw"> <span asp-validation-for="newpw"></span><br><br>
    Confirm new password: <input asp-for="newpwconfirm"> <span asp-validation-for="newpwconfirm"></span><br><br>
    <input type="submit">
</form>
<p><a href="/admin">Back</a></p>