@model List<PodcastSiteBuilder.Models.Host>
@{
    ViewData["Title"] = "Edit hosts";
}
<h2>Edit hosts</h2>
@foreach(var x in Model)
{
    <h3><a href='/admin/hosts/@x.id'>@x.name</a></h3>
}
<p><a href="/admin/main">Back</a></p>