@model PodcastSiteBuilder.Models.Podcast
@{
    ViewData["Title"] = "About";
}
<h2>@Model.Title</h2>
<p>@Model.Description</p>

<!-- change model to podcast links, make title and description viewbag -->