@model List<PodcastSiteBuilder.Models.PodcastLink>
@{
    ViewData["Title"] = "About";
}
<h2>@ViewBag.Title</h2>
<p>@ViewBag.Description</p>
@foreach(var x in Model)
{
    <p><a href="@x.url">@x.title</a></p>
}